@font-face {
  font-family: 'Museo Cyrlic';
  font-display: auto;
  src: url('/static/fonts/Museo Cyrl 300.woff2') format('woff2'), url('/static/fonts/Museo Cyrl 300.ttf') format('opentype');
  font-weight: 300;
}
@font-face {
  font-family: 'Museo Cyrlic';
  font-display: auto;
  src: url('/static/fonts/Museo Cyrl 500.woff2') format('woff2'), url('/static/fonts/Museo Cyrl 500.ttf') format('opentype');
  font-weight: 500;
}
@font-face {
  font-family: 'Museo Cyrlic';
  font-display: auto;
  src: url('/static/fonts/Museo Cyrl 900.woff') format('woff'), url('/static/fonts/Museo Cyrl 900.ttf') format('opentype');
  font-weight: 900;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap&subset=cyrillic');
:root {
  --main-color: #ff6f61;
  --main-light-color: rgba(255, 111, 97, 0.45);
  --dark-color: #262320;
  --light-color: #ffffff;
  --light-vis-color: rgba(255, 255, 255, 0.2);
  --dark-vis-color: rgba(38, 35, 32, 0.45);
  --dark-semi-vis-color: rgba(38, 35, 32, 0.8);
  --gray-color: #dcdcdc;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Open sans', Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1;
  overflow-x: hidden;
  color: #ffffff;
}
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

span,
p {
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Museo Cyrlic', Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 48px;
}

h2 {
  text-align: center;
  padding: 40px 0;
  font-size: 36px;
  color: var(--dark-color);
}

h3 {
  font-size: 21px;
  padding: 20px 0;
}

h4 {
  font-size: 18px;
  padding: 10px 0;
}

h5 {
  font-size: 16px;
  padding: 10px 0;
}

ul {
  list-style-type: none;
}

ul,
li,
button,
a {
  margin: 0;
  padding: 0;
  font-size: 16px;
  outline: none;
}

img {
  width: 100%;
  height: 100%;
}

button {
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
}

.btn-primary,
.btn-secondary,
.btn-secondary-black {
  height: 2.2em;
  font-size: 14px;
  line-height: 100%;
  padding: 0 35px;
  border-radius: 28px;
  box-sizing: border-box;
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  color: var(--light-color);
  cursor: pointer;
  outline: none;
}

.btn-secondary {
  background-color: transparent;
  border: 1px solid var(--light-color);
  color: var(--light-color);
}
.btn-secondary-black {
  background-color: transparent;
  border: 1px solid var(--dark-color);
  color: var(--dark-color);
}

button:hover {
  opacity: 0.8;
  transition: 0.2s linear;
}

button:active {
  opacity: 0.4;
}
button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.mark-underline {
  color: inherit;
  margin: 10px;
  background: linear-gradient(180deg, transparent 50%, var(--main-color) 0);
}
.md-section h3 {
  padding: 0;
}
.md-section p {
  margin-top: 10px;
}
.md-section ul {
  list-style-type: none;
}
.md-section li {
  margin-top: 5px;
  margin-left: 10px;
  position: relative;
}
.md-section li::before {
  content: '';
  position: absolute;
  top: 0.25em;
  left: -1.4em;
  width: 7px;
  height: 7px;
  border-radius: 7px;
  border: solid 4px var(--main-color);
  background-color: var(--light-color);
}
