{
  "extends": ["eslint:recommended", "plugin:react/recommended", "plugin:prettier/recommended" ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "plugins": ["prettier", "react"],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2018,
  },
  "rules": {
    "no-console": "off",
    "no-use-before-define": "error",
    "prettier/prettier": ["error"],
    "react/react-in-jsx-scope": "off",
    "react/prop-types": 0
  },
  "settings": {
    "react": {
      "version": "detect"
    },
  }
}
